
/**
 *  渐变
 */
.daynimc-fade-enter {
  position: absolute;
  opacity: 0.01;
  transition: .7s opacity ease-in-out;
}

.daynimc-fade-enter.daynimc-fade-enter-active {
  opacity: 1;
}

.daynimc-fade-leave {
  position: absolute;
  opacity: 1;
  transition: .7s opacity ease-in-out;
}

.daynimc-fade-leave.daynimc-fade-leave-active {
  opacity: 0.01;
}