.app {
	padding-bottom: 50px;
}
.app .no-tab-bar {
  padding-bottom: 0;
}

.app-enter {
	width: 100%;
	position: absolute;
	opacity: 0.01;
	transition: .3s opacity ease-in-out;
}

.app-enter.app-enter-active {
	opacity: 1;
}

.app-leave {
	width: 100%;
	position: absolute;
	opacity: 1;
	transition: .3s opacity ease-in-out;
}

.app-leave.app-leave-active {
	opacity: 0.01;
}

.app-left-to-right-enter {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transform: translate3d(100%, 0, 0);
	transition: transform 0.3s ease-in;
	z-index: 1;
}

.app-left-to-right-enter.app-left-to-right-enter-active {
	transform: translate3d(0, 0, 0);
}

.app-left-to-right-leave {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s ease-in;
}

.app-left-to-right-leave.app-left-to-right-leave-active {
	transform: translate3d(-100%, 0, 0);
}


.app-right-to-left-enter {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.3s ease-in;
	z-index: 1;
}

.app-right-to-left-enter.app-right-to-left-enter-active {
	transform: translate3d(0, 0, 0);
}

.app-right-to-left-leave {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s ease-in;
}

.app-right-to-left-leave.app-right-to-left-leave-active {
	transform: translate3d(100%, 0, 0);
}