.login {
	width: 100%;
	background-color: #ffffff;
	height: 100vh;
	.logo {
		height: 42vh;
		text-align: center;
		background-color: #0a0020;
		vertical-align: middle;
		img {
			width: 70px;
			display: inline-block;
			vertical-align: middle;
			box-shadow: 0 0 90px #1b054b;
		}
		span {
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.loginForm {
	    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
	.list {
		li {
			position: relative;
			padding: 5px;
			border-bottom: 1px solid #e1e1e1;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-direction: row;
			&.captchaBox {
				margin-top: 20px;
				padding-right: 0;
				.icon {
					font-size: 20px;
				}
			}
		}
		input {
			border-radius: 3px;
			padding-left: 10px;
			padding-right: 10px;
			flex: 1;
			height: 34px;
			color: #333;
			outline: none;
		}
		.icon {
			flex: 0 0 22px;
			display: inline-block;
			font-size: 18px;
			text-align: center;
			line-height: 34px;
			color: #999999;
		}
	}
	.captchaBox {
		.btn {
			// align-self: center;
			outline: none;
			font-size: 12px;
			padding: 0 .5em;
			line-height: 1.75em;
			height: 24px;
			border: 1px solid #0a0020;
			border-radius: 5px;
			position: absolute;
			bottom: -2px;
			transform: translateY(-50%);
			right: 0;
		}
		input {
			flex: 0 0 160px;
		}
	}
	.submitBtn {
		display: block;
    width: 100%;
    height: 44px;
    margin-top: 50px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #0d213f;
	}
}