.carouselBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 50px auto;
}

.carouselBox .sliderCarousel {
	position: relative;
	overflow: hidden;
	height: 100% !important;
}

.carouselBox div {
	height: 100% !important;
	display: block;
}

.carouselBox .slide {
	width: 100%;
	height: 100% !important;
}

.carouselBox .slide .pic {
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.carouselBox .slide .pic::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.carouselBox .slide .word {
	width: 100%;
	line-height: 32px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #ffffff;
}

.carouselBox .swiper {
	width: 300%;
	position: absolute;
	left: -100%;
	top: 0;
	display: none;
}

.carouselBox .swiper .slide {
	width: 33.3333333333%;
	float: left;
}