@import "../../icons/scss/ionicons";
.actionBar {
  position: fixed;
  left: 50%;
  bottom: calc(2% + 50px);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 6px 14px 0 rgba(115, 68, 192, .73);
  background: linear-gradient(left top,#B33DE5,#3023AE);
  font-size: 14px;
  &.bottom {
    bottom: 3%;
  }
  .icon {
    font-size: 1.65em;
    color: #ffffff;
  }
}